.app {
  display: flex;
}
header {
  width: 180px;
}
main {
  width: 100%;
  padding: 16px;
}

.new-task {
  display: flex;
  padding: 16px;
  background-color: #F9F9F9;
}

.new-task__title {
  margin-right: auto;
}
.new-task__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  padding: 16px 0;
}

.task {
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
}
.task input {
  border-color: transparent;
  background: none;
}
.task__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.task__title {
  margin-right: auto;
}
.task__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}